@using TestMasterDetail.DataAccess
@model TeamMember

<h2>Insert New Team Member</h2>

<form method="post">

   <input type="hidden" asp-for="TeamID" />

   <table border="1" cellpadding="10">
      <tr>
         <td>Name :</td>
         <td><input type="text" asp-for="Name" /></td>
      </tr>
      <tr>
         <td>Email :</td>
         <td><input type="text" asp-for="Email" /></td>
      </tr>
      <tr>
         <td colspan="2">
            <input type="submit"
                   value="Save"
                   asp-controller="TeamMembers"
                   asp-action="InsertSave"
                   asp-route-teamid="@Model.TeamID" />

            <input type="submit"
                   value="Cancel"
                   asp-controller="TeamMembers"
                   asp-action="CancelEntry"
                   asp-route-teamid="@Model.TeamID" />
         </td>
      </tr>
   </table>
</form>