<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <packages>
    <package id="EntityFramework" version="6.2.0" targetFramework="net461" />
  </packages>
  <connectionStrings>
    <add name="MyConnection"
         connectionString="Server= DESKTOP-6VLMGU5\SQLEXPRESS;Database= Database200;Trusted_Connection=True;"/>
  </connectionStrings> 
</configuration>
